body{
  background-image:  url(../images/car.png)  ;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

#nav{
 margin-left: 800px;
 
}

a{
  color: white;
}


#contain{

  height: 300px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  position: relative;
  top: 100px;
}

#footer{
  margin-left: auto;
  margin-right: auto;
}

input{
  position: relative;
  left: 650px;
  bottom: 60px;
}